In [1]:
import seaborn as sns
import pandas as pd

In [2]:
countries = pd.read_csv("./data/countries.csv")

In [3]:
countries.head(5)

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801,fra,92.06

In [4]:
countries.country_destination

0    AU
1    CA
2    DE
3    ES
4    FR
5    GB
6    IT
7    NL
8    PT
9    US
Name: country_destination, dtype: object

In [5]:
countries[1:3]

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
1,CA,62.393303,-96.818146,2828.1333,9984670,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022,deu,72.61

In [6]:
countries.loc[:,["destination_language"]]

  destination_language
0                  eng
1                  eng
2                  deu
3                  spa
4                  fra
5                  eng
6                  ita
7                  nld
8                  por
9                  eng

In [7]:
countries[countries.destination_language != "eng"]

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
2,DE,51.165707,10.452764,7879.5680,357022,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801,fra,92.06
6,IT,41.873990,12.564167,8636.6310,301340,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090,por,95.45

In [8]:
countries.language_levenshtein_distance > 0

0    False
1    False
2     True
3     True
4     True
5    False
6     True
7     True
8     True
9    False
Name: language_levenshtein_distance, dtype: bool

In [9]:
countries[countries.language_levenshtein_distance < 10]

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220,eng,0
1,CA,62.393303,-96.818146,2828.1333,9984670,eng,0
5,GB,54.633220,-3.432277,6883.6590,243610,eng,0
9,US,36.966427,-95.844030,0.0000,9826675,eng,0

In [10]:
countries[countries.language_levenshtein_distance >= 10]

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
2,DE,51.165707,10.452764,7879.5680,357022,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801,fra,92.06
6,IT,41.873990,12.564167,8636.6310,301340,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090,por,95.45